# =============================
# Angular / Build
# =============================
/dist/
/out-tsc/
/tmp/
/coverage/
/.angular/
/.angular/cache/
/bazel-out/
/e2e/test-output/

# =============================
# Node
# =============================
/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =============================
# Environment
# =============================
.env

# =============================
# TypeScript
# =============================
*.tsbuildinfo

# =============================
# IDEs & Editors
# =============================
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# =============================
# Misc
# =============================
.sass-cache/
.connect.lock
/libpeerconnection.log
testem.log
/typings
__screenshots__/

# =============================
# System
# =============================
.DS_Store
Thumbs.db
