<section class="Products-wrap">
  <header class="Products-header">
      <h1>OubChef — Produtos</h1>
      <div class="actions"></div>
  </header>

  <main class="product-main">
    <div class="pedidos">
      <h2>Produtos</h2>
      <button class="refresh" (click)="refresh()" [disabled]="loading()">Atualizar</button>
    </div>

    <form [formGroup]="form" (ngSubmit)="createCIngredient()">
        <label>Adicionar Produto</label>

          <input 
            type="text"
            formControlName="name"
            placeholder="Nome do novo produto" />

          <select formControlName="category">
            <option value="">Selecione a categoria</option>
            @for (cat of categories(); track cat._id) {
              <option [value]="cat._id">{{ cat.name }}</option>}
          </select>

          <input 
            type="Number"
            formControlName="extraPrice"
            placeholder="Preço base do produto " />

          <input 
            type="text"
            formControlName="description"
            placeholder="Breve descrição do produto " />
            
        <button type="submit" [disabled]="form.invalid || loading()"> Adicionar</button>
    </form>

    @if (loading()) {
        <div>Carregando ingredients/adicionais aguarde...</div>
        } @else {
            <div class="orders">
                @for (ingredient of ingredients(); track ingredient._id) {
                    <div class="order-card">
                        <div class="order-header">
                            <div>
                                <h3>{{ingredient.name }}</h3>
                                <span>R$ {{ingredient.extraPrice}} </span>
                                <span> Descrição: {{ingredient.description}} </span>
                                <span> Status: {{ingredient.active}}</span>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
  </main>
</section>